<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="foodMapper">



   <resultMap id="result"
      type="food">
      <result property="foodNo" column="FOOD_NO_PK"/>
      <result property="foodName" column="FOOD_NAME"/>
      <result property="imgUrl" column="IMG_URL" />
      <result property="imgCusUrl" column="IMG_CUS_URL" />
   </resultMap>

   <select id="selectList" parameterType="Integer" resultMap="result">
       <![CDATA[   
         SELECT *
         FROM food_tb
         WHERE bottleNo=#{bottleNo}
      ]]>
   </select>

</mapper>