<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="replyMapper">

   <resultMap id="replyResultSet"
      type="reply">
      <result property="replyNo" column="REPLY_NO_PK"/>
      <result property="userNo" column="USER_NO_FK"/>
      <result property="reviewNo" column="REVIEW_NO_FK" />
      <result property="replyContent" column="REPLY_CONTENT" />
      <result property="createTime" column="CREATE_DATE" jdbcType="TIME" javaType="String"/>
      <result property="status" column="STATUS" />
   </resultMap>


   <select id="selectList" parameterType="Integer" resultMap="replyResultSet">
       <![CDATA[   
         SELECT *
         FROM reply_tb
         WHERE REVIEW_NO_FK = #{reviewNo}
      ]]>
   </select>

	<update id="insertOne" parameterType="reply">
       <![CDATA[   
         INSERT INTO reply_tb(USER_NO_FK, REVIEW_NO_FK, REPLY_CONTENT)
         VALUES(#{userNo}, #{reviewNo}, #{replyContent})
      ]]>
   </update>
   
   <update id="updateOne" parameterType="reply">
       <![CDATA[   
         UPDATE reply_tb
         SET REPLY_CONTENT=#{replyContent} AND CREATE_DATE=NOW()
         WHERE REPLY_NO_PK=#{replyNo}
      ]]>
   </update>

  <update id="deleteOne" parameterType="reply">
       <![CDATA[   
         UPDATE reply_tb
         SET STATUS = 'N'
         WHERE REPLY_NO_PK=#{replyNo}
      ]]>
   </update>

</mapper>