<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">


    <resultMap id="UserResultSet" type="user">
        <result property="userNo" column="USER_NO_PK" />
        <result property="userId" column="USER_ID" />
        <result property="userPwd" column="USER_PWD" />
        <result property="userName" column="USER_NAME" />
        <result property="nickname" column="NICKNAME" />
        <result property="email" column="EMAIL" />
        <result property="phone" column="PHONE" />
        <result property="status" column="STATUS" />
        <result property="adminYn" column="ADMIN_YN" />
    </resultMap>

    <insert id="insert" parameterType="user">
        INSERT INTO USER_TB VALUES (#{userId})
    </insert>

    <select id="selectOne" resultType="int">
        SELECT COUNT(*)
        FROM USER_TB;
    </select>

    <select id="selectList" resultType="user" resultMap="UserResultSet">
        select *
        from USER_TB;
    </select>


</mapper>